extend T::Sig


@baml_sync_client = T.let(BamlSyncClient.new(BamlCallOptions.from_hash({})), BamlSyncClient)


sig {returns(BamlSyncClient)}
def self.b
   @baml_sync_client
end

class BamlSyncClient
    extend T::Sig

    sig {params(options: BamlCallOptions).void}
    def initialize(options)
        @options = T.let(BamlClient::Internal::DoNotUseDirectlyCallManager.new(options), BamlClient::Internal::DoNotUseDirectlyCallManager)
    end
end
