import type { BamlRuntime, BamlCtxManager, ClientRegistry, Image, Audio, Pdf, Video } from "@boundaryml/baml"
import { toBamlError, HTTPRequest } from "@boundaryml/baml"
import type { Checked, Check } from "./types"
import type * as types from "./types"
import type {
  {%- for t in types %}{{ t }}{% if !loop.last %}, {% endif %}{% endfor -%}
} from "./types"
import type TypeBuilder from "./type_builder"

type BamlCallOptions = {
  tb?: TypeBuilder
  clientRegistry?: ClientRegistry
  env?: Record<string, string | undefined>
}

export class AsyncHttpRequest {
  private bamlOptions: BamlCallOptions
  constructor(private runtime: BamlRuntime, private ctxManager: BamlCtxManager, bamlOptions?: BamlCallOptions) {
    this.bamlOptions = bamlOptions || {}
  }

  {% for fn in funcs %}
  async {{ fn.name }}(
      {% for (name, optional, type) in fn.args -%}
      {{name}}{% if optional %}?{% endif %}: {{type}},
      {%- endfor %}
      __baml_options__?: BamlCallOptions
  ): Promise<HTTPRequest> {
    try {
      const options = { ...this.bamlOptions, ...(__baml_options__ || {}) }
      const env = options.env ? { ...process.env, ...options.env } : { ...process.env };
      return await this.runtime.buildRequest(
        "{{fn.name}}",
        {
          {% for (name, optional, type) in fn.args -%}
          "{{name}}": {{name}}{% if optional %}?? null{% endif %}{% if !loop.last %},{% endif %}
          {%- endfor %}
        },
        this.ctxManager.cloneContext(),
        options.tb?.__tb(),
        options.clientRegistry,
        false,
        env
      )
    } catch (error) {
      throw toBamlError(error);
    }
  }
  {% endfor %}
}

export class AsyncHttpStreamRequest {
  private bamlOptions: BamlCallOptions
  constructor(private runtime: BamlRuntime, private ctxManager: BamlCtxManager, bamlOptions?: BamlCallOptions) {
    this.bamlOptions = bamlOptions || {}
  }

  {% for fn in funcs %}
  async {{ fn.name }}(
      {% for (name, optional, type) in fn.args -%}
      {{name}}{% if optional %}?{% endif %}: {{type}},
      {%- endfor %}
      __baml_options__?: BamlCallOptions
  ): Promise<HTTPRequest> {
    try {
      const options = { ...this.bamlOptions, ...(__baml_options__ || {}) }
      const env = options.env ? { ...process.env, ...options.env } : { ...process.env };
      return await this.runtime.buildRequest(
        "{{fn.name}}",
        {
          {% for (name, optional, type) in fn.args -%}
          "{{name}}": {{name}}{% if optional %}?? null{% endif %}{% if !loop.last %},{% endif %}
          {%- endfor %}
        },
        this.ctxManager.cloneContext(),
        options.tb?.__tb(),
        options.clientRegistry,
        true,
        env
      )
    } catch (error) {
      throw toBamlError(error);
    }
  }
  {% endfor %}
}
