import { FieldType } from '@boundaryml/baml/native'
import { TypeBuilder as _TypeBuilder, EnumBuilder, ClassBuilder } from '@boundaryml/baml/type_builder'
import { DO_NOT_USE_DIRECTLY_UNLESS_YOU_KNOW_WHAT_YOURE_DOING_RUNTIME } from "./globals"

export { FieldType, EnumBuilder, ClassBuilder }

type ClassProperties = {
    {% for cls in classes %}
    "{{cls.name}}": [{% for field in cls.fields %}"{{field.name}}", {% endfor %}],
    {% endfor %}
}
type EnumValues = {
    {% for e in enums %}
    "{{e.name}}": [{% for (value, _) in e.values %}"{{value}}", {% endfor %}],
    {% endfor %}
}
type ClassNames = keyof ClassProperties;
type EnumNames = keyof EnumValues;

type _ClassBuilder<Name extends ClassNames, Dynamic> = ClassBuilder<Name, ClassProperties[Name][number], Dynamic>;
type _EnumBuilder<Name extends EnumNames, Dynamic> = EnumBuilder<Name, EnumValues[Name][number], Dynamic>;

function _getEnum<Dynamic, Name extends EnumNames>(tb: _TypeBuilder, name: Name): _EnumBuilder<Name, Dynamic> {
    return tb.getEnum<Name, EnumValues[Name][number], Dynamic>(name);
}

function _getClass<Dynamic, Name extends ClassNames>(tb: _TypeBuilder, name: Name): _ClassBuilder<Name, Dynamic> {
    return tb.getClass<Name, ClassProperties[Name][number], Dynamic>(name);
}

export default class TypeBuilder {
    private tb: _TypeBuilder;
    {% for cls in classes %}
    {{cls.name}}: _ClassBuilder<'{{cls.name}}', {{ cls.dynamic }}>;
    {% endfor %}
    {% for e in enums %}
    {{e.name}}: _EnumBuilder<'{{e.name}}', {{ e.dynamic }}>;
    {% endfor %}

    constructor() {
        this.tb = new _TypeBuilder({
          runtime: DO_NOT_USE_DIRECTLY_UNLESS_YOU_KNOW_WHAT_YOURE_DOING_RUNTIME
        });
        {% for cls in classes %}
        this.{{cls.name}} = _getClass<{{ cls.dynamic }}>(this.tb, "{{cls.name}}");
        {% endfor %}
        {% for e in enums %}
        this.{{e.name}} = _getEnum<{{ e.dynamic }}>(this.tb, "{{e.name}}");
        {% endfor %}
    }

    reset(): void {
        this.tb.reset();
    }

    __tb() {
      return this.tb._tb();
    }

    string(): FieldType {
        return this.tb.string()
    }

    literalString(value: string): FieldType {
        return this.tb.literalString(value)
    }

    literalInt(value: number): FieldType {
        return this.tb.literalInt(value)
    }

    literalBool(value: boolean): FieldType {
        return this.tb.literalBool(value)
    }

    int(): FieldType {
        return this.tb.int()
    }

    float(): FieldType {
        return this.tb.float()
    }

    bool(): FieldType {
        return this.tb.bool()
    }

    list(type: FieldType): FieldType {
        return this.tb.list(type)
    }

    null(): FieldType {
        return this.tb.null()
    }

    map(key: FieldType, value: FieldType): FieldType {
        return this.tb.map(key, value)
    }

    union(types: FieldType[]): FieldType {
        return this.tb.union(types)
    }

    addClass(name: string): ClassBuilder<string, string, true> {
        return this.tb.addClass(name);
    }

    addEnum(name: string): EnumBuilder<string, string, true> {
        return this.tb.addEnum(name);
    }

    addBaml(baml: string): void {
        this.tb.addBaml(baml);
    }
}
