package baml_client

import (
	"encoding/json"
	"reflect"

  "{{ package_name }}/baml_client/types"
)

type BamlDecoder interface {
  BamlDecode(decodedMap map[string]any)
}

func Decode(data []byte) (any, error) {
  var decoded any
  if err := json.Unmarshal(data, &decoded); err != nil {
    return nil, err
  }

  var result any
  if reflect.TypeOf(decoded).Kind() == reflect.Map {
    decodedMap := decoded.(map[string]any)
    if decodedMap["class_name"] != nil {
      className := decodedMap["class_name"].(string)
      switch className {
        {% for class in classes %}
        case "{{ class.name }}":
          dec := &types.{{ class.name }}{}
          dec.BamlDecode(decodedMap)
          result = dec
        {% endfor %}
      }
    }
  } else {
    result = decoded
  }

	return result, nil
}
