package baml_client

import (
  "fmt"
	"encoding/json"
	"reflect"

  "{{ package_name }}/baml_client/types"
)

type BamlDecoder interface {
  BamlDecode(decodedMap map[string]any)
}

type BamlEncoder interface {
  BamlEncode() ([]byte, error)
}

var typeMap = map[string]reflect.Type{
  {% for class in classes %}
  "{{ class.name }}": reflect.TypeOf(types.{{ class.name }}{}),
  {% endfor %}
  {% for enum in enums %}
  "{{ enum.name }}": reflect.TypeOf(types.{{ enum.name}}("")),
  {% endfor %}
  {% for union in unions %}
  "{{ union.name }}": reflect.TypeOf(types.{{ union.name }}{}),
  {% endfor %}
}

func Decode(data []byte) (any, error) {
  var decoded any
  if err := json.Unmarshal(data, &decoded); err != nil {
    return nil, err
  }

  var result any
  if reflect.TypeOf(decoded).Kind() == reflect.Map {
    decodedMap := decoded.(map[string]any)
    if decodedMap["class_name"] != nil {
      className := decodedMap["class_name"].(string)
      newObject := reflect.New(typeMap[className]).Interface().(BamlDecoder)
      newObject.BamlDecode(decodedMap)
      result = newObject
    } else if decodedMap["enum_class"] != nil {
      enumClassName := decodedMap["enum_class"].(string)
      enumValue := decodedMap["enum_value"].(string)
      enum := reflect.New(typeMap[enumClassName]).Elem()
      enum.SetString(enumValue)
      result = enum.Interface()
    } else if decodedMap["union_name"] != nil {
      unionClassName := decodedMap["union_name"].(string)
      union := reflect.New(typeMap[unionClassName]).Interface().(BamlDecoder)
      union.BamlDecode(decodedMap)
      result = union
    }
  } else if reflect.TypeOf(decoded).Kind() == reflect.Slice {
    decodedSlice := decoded.([]any)
    {# // determine the map key and value types #}
    if len(decodedSlice) > 0 {
			keyType := reflect.TypeOf("")
			{# this is insane but it works #}
			valueType := reflect.TypeOf((*any)(nil)).Elem()

			newMap := reflect.MakeMap(reflect.MapOf(keyType, valueType))
			for _, item := range decodedSlice {
				itemMap := item.(map[string]any)
				key := itemMap["key"].(string)
				value := itemMap["value"]
				newMap.SetMapIndex(reflect.ValueOf(key), reflect.ValueOf(value))
			}
			result = newMap.Interface()
    } else {
      result = map[string]any{}
    }
  } else {
    result = decoded
  }

	return result, nil
}

func Encode(object any) ([]byte, error) {
  underlyingType := reflect.TypeOf(object)
  if underlyingType.Kind() == reflect.Ptr {
    underlyingType = underlyingType.Elem()
  }

  if underlyingType.Kind() == reflect.Struct {
    if encoder, ok := object.(BamlEncoder); ok {
      return encoder.BamlEncode()
    } else {
      return nil, fmt.Errorf("object is not a BamlEncoder")
    }
  } else if underlyingType.Kind() == reflect.Map {
    entries := []any{}
    for key, value := range object.(map[string]any) {
      encodedValue, err := Encode(value)
      if err != nil {
        return nil, err
      }
      entries = append(entries, map[string]any{"key": key, "value": encodedValue})
    }
    return json.Marshal(entries)
  } else {
    return json.Marshal(object)
  }
}
