package types

import (
	_ "fmt"
)


// Check corresponds to the Python Check model.
type Check struct {
	Name       string `json:"name"`
	Expression string `json:"expression"`
	Status     string `json:"status"`
}

// Checked is a generic struct that contains a value of any type T and a map of checks,
// where the key type CN has an underlying type string.
type Checked[T any] struct {
	Value  T `json:"value"`
	Checks map[string]Check `json:"checks"`
}

// GetChecks converts a map of checks into a slice.
func (c *Checked[T]) GetChecks() []Check {
	values := make([]Check, 0, len(c.Checks))
	for _, check := range c.Checks {
		values = append(values, check)
	}
	return values
}

// AllSucceeded returns true if every check in the map has a Status of "succeeded".
func (c *Checked[T]) AllSucceeded() bool {
	for _, check := range c.Checks {
		if check.Status != "succeeded" {
			return false
		}
	}
	return true
}


{% for class in classes %}
{%- if let Some(docstring) = class.docstring %}
{{ docstring }}
{%- endif %}
type {{ class.name }} struct {
    {% for field in class.fields %}
    {%- if let Some(docstring) = field.docstring -%}
    {{ docstring }}
    {%- endif %}
    {{ field.name|exported_name }} {{ field.go_type.name }} `json:"{{ field.name }}"`
    {% endfor %}
    {% if class.dynamic %}
    DynamicProperties map[string]any `json:"__baml_dynamic_properties__"`
    {% endif %}
}

func (c *{{ class.name }}) BamlDecode(decodedMap map[string]any) {
	{% if class.fields|length > 0 %}
	for name, value := range decodedMap["values"].(map[string]any) {
		switch name {
		{% for field in class.fields %}
		case "{{ field.name|exported_name }}":
		  {{ crate::go::generate_types::render_value_coercion("coercedValue", "value", field.go_type) }}
			c.{{ field.name|exported_name }} = {% if field.go_type.is_pointer %}&{% endif %}coercedValue
		{% endfor %}
		}
	}
	{% endif %}
}

{% endfor %}

{#- Type Aliases -#}
{% for alias in structural_recursive_alias_cycles %}
type {{alias.name}} {{alias.target}}
{% endfor %}
