package types

import (
	"encoding/json"

	"github.com/boundaryml/baml/go/pkg/cffi"
	baml "github.com/boundaryml/baml/go/pkg"
)


{% for union in unions %}
type {{ union.name }} struct {
    variant string
    {% for variant in union.variants %}
    variant_{{ variant.0 }} *{{ variant.1.name }}
    {% endfor %}
}

func (u *{{ union.name }}) Decode(holder *cffi.CFFIValueUnionVariant, typeMap baml.TypeMap) {
    valueHolder := holder.Value(nil)
	switch holder.ValueTypeIndex() {
    {% for variant in union.variants %}
	    case {{ loop.index0 }}:
            u.variant = "{{ variant.0 }}"
            value := {{ crate::go::generate_types::render_value_coercion("valueHolder", variant.1) }}
            u.variant_{{ variant.0 }} = &value
    {% endfor %}
	}
}

func (u *{{ union.name }}) BamlEncode() ([]byte, error) {
    encodedMap := map[string]any{
        "union_name": "{{ union.name }}",
        "union_variant": u.variant,
    }

    switch u.variant {
    {% for variant in union.variants %}
    case "{{ variant.0 }}":
        {% let destination_index = format!("\"{}\"", "value") %}
		{% let source_variable_name = format!("{}u.variant_{}", if variant.1.is_slice { "*" } else { "" }, variant.0) %}
		{{ crate::go::generate_types::render_value_encode("encodedMap", destination_index, source_variable_name, variant.1) }}
    {% endfor %}
    }

    return json.Marshal(encodedMap)
}

{% for variant in union.variants %}
func (u *{{ union.name }}) Is{{ variant.0|exported_name }}() bool {
    return u.variant == "{{ variant.0 }}"
}

func (u *{{ union.name }}) {{ variant.0|exported_name }}() *{{ variant.1.name }} {
    if !u.Is{{ variant.0|exported_name }}() {
        return nil
    }
    return u.variant_{{ variant.0 }}
}

func {{ union.name }}NewWith{{ variant.0|exported_name }}(v *{{ variant.1.name }}) *{{ union.name }} {
    return &{{ union.name }}{
        variant: "{{ variant.0 }}",
        variant_{{ variant.0 }}: v,
    }
}
{% endfor %}

{% endfor %}
