type {{ name }} struct {
    variant string
    {% for (variant_name, variant_type) in variants %}
    variant_{{ variant_name }} *{{ variant_type.serialize_type(pkg) }}
    {% endfor %}
}

func (u *{{ name }}) Decode(holder *cffi.CFFIValueUnionVariant) {
    valueHolder := holder.Value(nil)
    variantName := string(holder.VariantName())
	switch variantName {
    {% for (variant_name, variant_type) in variants -%}
	    case "{{ variant_name }}":
            u.variant = "{{ variant_name }}"
            value := {{ variant_type.decode_from_any("valueHolder", pkg) }}
            u.variant_{{ variant_name }} = &value
    {% endfor %}
    default:
        panic(fmt.Sprintf("invalid union variant: %s", variantName))
	}
}


func (u {{ name }}) Encode(builder *flatbuffers.Builder) (cffi.CFFIValueUnion, flatbuffers.UOffsetT, error) {
    switch u.variant {
    {% for (variant_name, variant_type) in variants %}
    case "{{ variant_name }}":
        return baml.EncodeUnion(builder, "{{ name }}", u.variant, u.variant_{{ variant_name }})
    {% endfor %}
    case "":
        return cffi.CFFIValueUnionNONE, 0, fmt.Errorf("invalid union variant: [unset]")
    }

    return cffi.CFFIValueUnionNONE, 0, fmt.Errorf("invalid union variant: %s", u.variant)
}

func (u {{ name }}) BamlTypeName() string {
    return "{{ name }}"
}

func (u {{ name }}) MarshalJSON() ([]byte, error) {
    switch u.variant {
    {% for (variant_name, variant_type) in variants %}
    case "{{ variant_name }}":
        return json.Marshal(u.variant_{{ variant_name }})
    {% endfor %}
    }

    return nil, fmt.Errorf("invalid union variant: %s", u.variant)
}

func (u *{{ name }}) UnmarshalJSON(data []byte) error {
    var err error
    {% for (variant_name, variant_type) in variants %}
    err = json.Unmarshal(data, &u.variant_{{ variant_name }})
    if err == nil {
        u.variant = "{{ variant_name }}"
        return nil
    } else {
        u.variant_{{ variant_name }} = nil
    }
    {% endfor %}
    return fmt.Errorf("invalid union variant: %s", string(data))
}

{% for (variant_name, variant_type) in variants %}
func (u *{{ name }}) Set{{ variant_name|exported_name }}(v {{ variant_type.serialize_type(pkg) }}) {
    u.variant = "{{ variant_name }}"
    u.variant_{{ variant_name }} = &v
    {% for (v_name, v_type) in variants -%}
    {%- if v_name != variant_name -%}
    u.variant_{{ v_name }} = nil
    {%- endif -%}
    {%- endfor %}
}

func (u *{{ name }}) Is{{ variant_name|exported_name }}() bool {
    return u.variant == "{{ variant_name }}"
}

func (u *{{ name }}) {{ variant_name|exported_name }}() {{ variant_type.serialize_type(pkg) }} {
    if u.variant != "{{ variant_name }}" {
        return {{ variant_type.zero_value(pkg) }}
    }
    return *u.variant_{{ variant_name }}
}
{% endfor %}